# Time Series

### importar pandas, numpy e matplotlib

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## datetime

In [2]:
import datetime

### Locale

### Data e Hora atual (Now)

In [3]:
datetime.datetime.now()

datetime.datetime(2024, 1, 30, 20, 21, 11, 181562)

In [4]:
print(datetime.datetime.now())

2024-01-30 20:21:11.408305


### Diferença de tempo (Timedelta)

In [5]:
antes = datetime.datetime.now()

In [6]:
depois = datetime.datetime.now()

In [7]:
diferenca = depois-antes

In [8]:
diferenca.seconds

0

In [9]:
datetime.timedelta(seconds=15)

datetime.timedelta(seconds=15)

### String Para Data Hora (Strptime)

In [25]:
str_data_hora =  '30-01-24 20:24:30'
str_data_hora

'30-01-24 20:24:30'

In [27]:
convertida_para_datetime = datetime.datetime.strptime(str_data_hora, '%d-%m-%y %H:%M:%S')

In [28]:
convertida_para_datetime

datetime.datetime(2024, 1, 30, 20, 24, 30)

In [21]:
print(convertida_para_datetime)

2024-01-30 20:24:30

### String para Data

In [31]:
str_data =  '30-01-24'

In [33]:
data = datetime.datetime.strptime(str_data, '%d-%m-%y').date()

In [34]:
data

datetime.date(2024, 1, 30)

In [35]:
print(data)

2024-01-30

### Conversão de String para Tempo (Strptime)

In [36]:
str_tempo = '20:37:40'

In [38]:
tempo = datetime.datetime.strptime(str_tempo, '%H:%M:%S').time()

In [39]:
tempo

datetime.time(20, 37, 40)

In [40]:
print(tempo)

20:37:40

### Períodos de Tempo (Freq)

In [43]:
start = '01-01-2024'
end = '31-12-2024'

In [48]:
x = pd.date_range(start, end, freq='MS')
x

DatetimeIndex(['2024-01-01', '2024-02-01', '2024-03-01', '2024-04-01',
               '2024-05-01', '2024-06-01', '2024-07-01', '2024-08-01',
               '2024-09-01', '2024-10-01', '2024-11-01', '2024-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [46]:
len(x)

12

### Plot

### DataFrame

### Index de Datas (DatetimeIndex)

<center><h1> <a href="http://strftime.org/">String Para Tempo (Strftime)</a></h1>
<br>Nota: Exemplos baseados em datetime.datetime(2013, 9, 30, 7, 6, 5)</center>

<div>
<table cellpadding = "0" cellpacing = "0" border = "0">
        <colgroup>
          <col id = "diretiva">
          <col id = "meaning">
          <col id = "example">
        </colgroup>
        <thead>
          <tr>
            <th> Código </th>
            <th> Significado </th>
            <th> Exemplo </th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><code>%a</code> </td>
              <td> Dia da semana como nome abreviado da localidade. </td>
              <td><code> Seg</code> </td>
            </tr>
            <tr>
              <td><code>%A</code> </td>
              <td> Dia da semana como o nome completo da localidade. </td>
              <td><code> Segunda-feira</code> </td>
            </tr>
            <tr>
              <td><code>%w</code> </td>
              <td> Dia da semana como um número decimal, onde 0 é domingo e 6 é sábado. </td>
              <td><code>1</code> </td>
            </tr>
            <tr>
              <td><code>%d</code> </td>
              <td> Dia do mês como um número decimal preenchido com zero. </td>
              <td><code>30</code> </td>
            </tr>
            <tr>
              <td><code>%-d</code> </td>
              <td> Dia do mês como um número decimal. (Específico da plataforma) </td>
              <td><code>30</code> </td>
            </tr>
            <tr>
              <td><code>%b</code> </td>
              <td> Mês como nome abreviado da localidade. </td>
              <td><code> Set </code></td>
            </tr>
            <tr>
              <td><code>%B</code> </td>
              <td> Mês como nome completo do código do idioma. </td>
              <td><code> Setembro</code> </td>
            </tr>
            <tr>
              <td><code>%m</code> </td>
              <td> Mês como um número decimal preenchido com zero. </td>
              <td><code>09</code> </td>
            </tr>
            <tr>
              <td><code>%-m</code> </td>
              <td> Mês como um número decimal. (Específico da plataforma) </td>
              <td><code>9</code> </td>
            </tr>
            <tr>
              <td><code>%y</code> </td>
              <td> Ano sem século como um número decimal preenchido com zero. </td>
              <td><code>13</code> </td>
            </tr>
            <tr>
              <td><code>%Y</code> </td>
              <td> Ano com o século como um número decimal. </td>
              <td><code>2013</code> </td>
            </tr>
            <tr>
              <td><code>%H</code> </td>
              <td> Hora (relógio de 24 horas) como um número decimal preenchido com zero. </td>
              <td><code>07</code> </td>
            </tr>
            <tr>
              <td><code>%-H</code> </td>
              <td> Hora (relógio de 24 horas) como um número decimal. (Específico da plataforma) </td>
              <td><code>7</code> </td>
            </tr>
            <tr>
              <td><code>%I</code> </td>
              <td> Hora (relógio de 12 horas) como um número decimal preenchido com zero. </td>
              <td><code>07</code> </td>
            </tr>
            <tr>
              <td><code>%-I</code> </td>
              <td> Hora (relógio de 12 horas) como um número decimal. (Específico da plataforma) </td>
              <td><code>7</code> </td>
            </tr>
            <tr>
              <td><code>%p</code> </td>
              <td> O equivalente da localidade de AM ou PM. </td>
              <td><code>AM</code> </td>
            </tr>
            <tr>
              <td><code>%M</code> </td>
              <td> Minuto como um número decimal preenchido com zero. </td>
              <td><code>06</code> </td>
            </tr>
            <tr>
              <td><code>%-M</code> </td>
              <td> Minuto como um número decimal. (Específico da plataforma) </td>
              <td><code>6</code> </td>
            </tr>
            <tr>
              <td><code>%S</code> </td>
              <td> Segundo como um número decimal preenchido com zero. </td>
              <td><code>05</code> </td>
            </tr>
            <tr>
              <td><code>%-S</code> </td>
              <td> Segundo como um número decimal. (Específico da plataforma) </td>
              <td><code>5</code> </td>
            </tr>
            <tr>
              <td><code>%f</code> </td>
              <td> Microssegundo como um número decimal, preenchido com zero à esquerda. </td>
              <td><code>000000</code> </td>
            </tr>
            <tr>
              <td><code>%z</code> </td>
              <td> Deslocamento UTC no formato + HHMM ou -HHMM (string vazia se o objeto for ingênuo). </td>
              <td><code></code> </td>
            </tr>
            <tr>
              <td><code>%Z</code> </td>
              <td> Nome do fuso horário (string vazia se o objeto for ingênuo). </td>
              <td><code></code> </td>
            </tr>
            <tr>
              <td><code>%j</code> </td>
              <td> Dia do ano como um número decimal preenchido com zero. </td>
              <td><code>273</code> </td>
            </tr>
            <tr>
              <td><code>%-j</code> </td>
              <td> Dia do ano como um número decimal. (Específico da plataforma) </td>
              <td><code>273</code> </td>
            </ tr>
            <tr>
              <td><code>%U</code> </td>
              <td> Número da semana do ano (domingo como o primeiro dia da semana) como um número decimal preenchido com zero. Todos os dias em um novo ano anterior ao primeiro domingo são considerados na semana 0. </td>
              <td><code>39</code> </td>
            </tr>
            <tr>
              <td><code>%W</code> </td>
              <td> Número da semana do ano (segunda-feira como o primeiro dia da semana) como um número decimal. Todos os dias do ano novo anterior à primeira segunda-feira são considerados na semana 0. </td>
              <td><code>39</code> </td>
            </tr>
            <tr>
              <td><code>%c</code> </td>
              <td> Representação apropriada de data e hora da localidade. </td>
              <td> <code> Seg 30 set 07:06:05 2013 </code> </td>
            </tr>
            <tr>
              <td><code>%x</code> </td>
              <td> Representação de data apropriada da localidade. </td>
              <td><code>09/30/13</code> </td>
            </tr>
            <tr>
              <td><code>%X</code> </td>
              <td> Representação de tempo apropriada da localidade. </td>
              <td><code>07:06:05</code> </td>
            </tr>
            <tr>
              <td><code>%%</code> </td>
              <td> Um caractere literal '%'. </td>
              <td><code>%</code> </td>
            </tr>
        </tbody>
      </table>
</div>

<center><h1> <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases">String Para Períodos (Freq)</a></h1></center>

<table border = "1" class = "documentos fornecidos pelas larguras">
<colgroup>
<largura da coluna = "13%" />
<largura da coluna = "87%" />
</colgroup>
<thead valign = "bottom">
<tr class = "row-odd"> <th class = "head"> Alias ​​</th>
<th class = "head"> Descrição </th>
</tr>
</thead>
<tbody valign = "top">
<tr class = "row-even"> <td> B </td>
<td> frequência de dias úteis </td>
</tr>
<tr class = "row-odd"> <td> C </td>
<td> frequência de dias úteis personalizados </td>
</tr>
<tr class = "row-even"> <td> D </td>
<td> frequência do dia do calendário </td>
</tr>
<tr class = "row-odd"> <td> W </td>
<td> frequência semanal </td>
</tr>
<tr class = "row-even"> <td> M </td>
<td> frequência de final do mês </td>
</tr>
<tr class = "row-odd"> <td> SM </td>
<td> frequência final semestral (15 e final do mês) </td>
</tr>
<tr class = "row-even"> <td> BM </td>
<td> frequência final do mês útil </td>
</tr>
<tr class = "row-odd"> <td> CBM </td>
<td> frequência de final de mês comercial personalizada </td>
</tr>
<tr class = "row-even"> <td> MS </td>
<td> frequência de início do mês </td>
</tr>
<tr class = "row-odd"> <td> SMS </td>
<td> frequência de início semestral (1º e 15º) </td>
</tr>
<tr class = "row-even"> <td> BMS </td>
<td> frequência de início do mês útil </td>
</tr>
<tr class = "row-odd"> <td> CBMS </td>
<td> frequência de início do mês útil personalizado </td>
</tr>
<tr class = "row-even"> <td> Q </td>
<td> frequência de final de trimestre </td>
</tr>
<tr class = "row-odd"> <td> BQ </td>
<td> frequência de final de trimestre de negócios </td>
</tr>
<tr class = "row-even"> <td> QS </td>
<td> frequência de início do trimestre </td>
</tr>
<tr class = "row-odd"> <td> BQS </td>
<td> frequência de início do trimestre de negócios </td>
</tr>
<tr class = "row-even"> <td> A, Y </td>
<td> frequência de final de ano </td>
</tr>
<tr class = "row-odd"> <td> BA, POR </td>
<td> frequência de fim de ano comercial </td>
</tr>
<tr class = "row-even"> <td> AS, YS </td>
<td> frequência de início do ano </td>
</tr>
<tr class = "row-odd"> <td> BAS, BYS </td>
<td> frequência de início do ano comercial </td>
</tr>
<tr class = "row-even"> <td> BH </td>
<td> frequência do horário comercial </td>
</tr>
<tr class = "row-odd"> <td> H </td>
<td> frequência horária </td>
</tr>
<tr class = "row-even"> <td> T, mín. </td>
<td> frequência minuciosa </td>
</tr>
<tr class = "row-odd"> <td> S </td>
<td> segunda frequência </td>
</tr>
<tr class = "row-even"> <td> L, ms </td>
<td> milissegundos </td>
</tr>
<tr class = "row-odd"> <td> U, us </td>
<td> microssegundos </td>
</tr>
<tr class = "row-even"> <td> N </td>
<td> nanossegundos </td>
</tr>
</tbody>
</table>