# Regressão Linear - Predição da Idade

### importar bibliotecas

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### ler train.csv e test.csv

In [5]:
train = pd.read_csv('titanic/train.csv')

In [6]:
test = pd.read_csv('titanic/test.csv')

### transformar definir o Id do Passageiro como Index

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
train.set_index('PassengerId', inplace=True)

In [10]:
test.set_index('PassengerId', inplace=True)

### Verificar shape dos dois

In [11]:
train.shape, test.shape

((891, 11), (418, 10))

### Criar coluna "Survived" no test set

In [12]:
test['Survived'] = np.nan

### Conferir shape novamente

In [13]:
train.shape, test.shape

((891, 11), (418, 11))

### Concatenar train e test set

In [16]:
data = pd.concat([train, test], sort=False)

In [17]:
data.shape

(1309, 11)

### Traduzir colunas

In [18]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [20]:
data.columns = ['Sobreviveu', 'Classe', 'Nome', 'Sexo', 'Idade', 'IrmaosConjuge', 'PaisFilhos', 'Bilhete',
       'Tarifa', 'Cabine', 'Embarque']

### Traduzir Sexo

In [23]:
data['Sexo'] = data['Sexo'].map({'male': 'homem', 'female': 'mulher'})

In [24]:
data.head()

,Sobreviveu,Classe,Nome,Sexo,Idade,IrmaosConjuge,PaisFilhos,Bilhete,Tarifa,Cabine,Embarque
PassengerId,,,,,,,,,,,
1,0.0,3,"Braund, Mr. Owen Harris",homem,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",mulher,38.0,1,0,PC 17599,71.2833,C85,C
3,1.0,3,"Heikkinen, Miss. Laina",mulher,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",mulher,35.0,1,0,113803,53.1000,C123,S
5,0.0,3,"Allen, Mr. William Henry",homem,35.0,0,0,373450,8.0500,NaN,S

### Averiguar dados nulos

### Remover Cabine

### Checar dados nulos novamente

### Preencher dados nulos de "Embarque" com a moda

### Checar dados nulos novamente

### Preencher "Tarifa" faltando com a média

### Checar dados nulos

### Verificar correlações

### Visualizar correlações com "heatmap"

### Remover coluna "Sobreviveu"
Aparentemente não tem muita correlação com Idade, e está faltando bastante dados

### Checar dados nulos

# Engenharia de Recursos I

### Criar coluna "Titulo" baseando-se na coluna "Nome"

### Traduzir "Titulos"

### Averiguar informações do DataFrame

### Remover "Bilhete" e "Nome"

# Engenharia de Recursos II

### Estudar possibilidade de identificar "meninas" similar aos "meninos"
Através da combinação: "solteira" e está com "pais"

### idade média de "meninas solteiras acompanhadas dos pais"

### verificar distribuição da idade

### Média de mulheres "solteiras"

### Distribuição das idades de mulheres "solteiras"

### Média de idade de mulheres "casadas"

### Distribuição das idades de mulheres "casadas"

### Adicionar coluna "solteira com pais"

### Transformar recursos categóricos em "dummies"

### Separar train e test para idades
* treinar com dados não nulos
* aplicar modelo em dados nulos

## Definir X e y para treinar o modelo

### Importar modelo regressivo

### Instanciar modelo

### Importar train_test_split para preparar para treino

### Dividir 70% para treinar, 30% para testar

### Treinar modelo

### Fazer predição

### Importar mean_squared_error (erro quadrado médio)

### Averiguar score

### Averiguar rmse

### Visualizar resíduos em scatterplot

<a name="tarifa"></a>

### Aplicar modelo nos dados nulos

### Criar coluna Idade contendos as predições

### Averiguar shapes

### Concatenar dados

### Criar DataFrame contendo "IdPassageiro" e "Idade"

### Salvar CSV com idade completa